@mixin path-rounds($radius, $top:0, $before-top:28px, $margin:0) {
  &__path {
    width: $radius;
    height: $radius;
    border-radius: $radius;
    display: inline-block;
    position: relative;
    top: $top;
    margin: $margin;

    .popup {
      @include note-popup;
    }

    &:hover {

      &::before {
        display: block;
        content: '';
        position: absolute;
        z-index: 1001;
        width: 8px;
        height: 8px;
        top: $before-top;
        right: 8px;
        margin-left: -4px;
        background: #fff;
        box-shadow: -1px -1px 4px -1px #999;
        transform: rotate(45deg);
      }

      & > .popup {
        display: block;
        right: 0;
      }
    }

  }

  .red-path {
    background-color:red;
  }

  .blue-path {
    background-color: blue;
  }

  .green-path {
    background-color: green;
  }

}