$countries: ('bg', 'by', 'cz', 'de', 'fr', 'gr', 'kg', 'kz', 'ru', 'sk', 'tj', 'tr', 'ua', 'rs', 'ww');

$card-themes-palette: (
	one: #fbb833,
	two: #ea6200,
	three: #02baa2,
	four: #027f9f,
	five: #662d91,
	six: #0171bb,
	seven: #50bb7a,
	eight: #bb5392,
	nine: #a8bb3c,
	ten: #bb4747,
	eleven: #7b22bb,
	twelve: #bb2d37,
);

$body-font-size: (
	small: 14px,
	medium: 16px,
	large: 16px,
	xlarge: 16px,
);
