.o-list {
	count-reset: o-count;
	margin-left: 0;

	& > li {
		position: relative;
		list-style: none;
		counter-increment: o-count;
		padding-left: 1.25rem;
	}

	& > li::before {
		content:counter(o-count) ".";
		position: absolute;
		left: 0;
		color: #fbb932;
		display: inline-block;
		text-align: center;
		line-height: inherit;
	}

	& > li .list {
		margin-top: 1rem;
	}
}