@import '../site/base';

.soccer-cup {

	margin-bottom: 100px;
    overflow: hidden;

    & > .container {
    	position: relative;
    }

	&__hero-banner {
	    min-height: 280px;
		background-image: url('../img/site/soccer-cup/banner.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		padding-bottom: 55%;
		position: relative;
	}

	&__title {
	    font-size: 1.225rem;
	    color: #fff;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 50%;
	    transform: translateY(-50%);
	}

	&__intro {
		background-color: #c1272d;
		color: #fff;
		padding: 30px 0;
		line-height: 1.6;
		margin-bottom: 30px;
		position: relative;

		&::before {
			content: "";
			display: block;
			position: absolute;
			left: -100%;
			right: -100%;
			top: 0;
			bottom: 0;
			background-color: #c1272d;
			z-index: -1;
		}
	}

	&__section-1 {
		margin-bottom: 40px;
	}

	&__section-2 {
		margin-bottom: 20px;
		border-bottom: 1px solid #e6e6e6;
	}

	&__footballer-1 {
		display: block;
		max-width: 100%;
		margin: 30px auto 0;
		padding: 0 50px;
		margin-bottom: 40px;
	}

	&__footballer-2 {
		display: none;
	}

	@include breakpoint(medium) {

		margin-bottom: 40px;

		&__title {
			font-size: 2.3rem;
		}

		&__intro {
			padding: 80px 0;
			font-size: 21px;
		    line-height: 1.4;
		    margin-bottom: 90px;
		}

		&__hero-banner {
		    min-height: 700px;
		}

		&__footballer-1 {
			padding: 0;
			position: absolute;
			top: 74px;
			left: -110px;
			margin-bottom: 0;
		}

		&__footballer-2 {
			display: block;
			float: right;
			margin-top: -60px;
			margin-left: 50px;
		}

		&__section-1 {
			margin-bottom: 100px;
		    padding-left: 300px;
			position: relative;
		}

		&__section-2 {
			margin-bottom: 34px;
			&::after {
				content: '';
				display: table;
				clear: both;
			}
		}
	}
}

.soccer-cup-preview {

	padding: 40px 0;

	p {
		line-height: 1.4;
	}

	&__container {
		@include container(false);
	}

	&__excerpt {

		font-size: 16px;

		& ~ {
			.soccer-cup-preview__full {
				display: none;
			}
		}

		&.hide ~ {
			.soccer-cup-preview__full {
				display: block;
			}
		}
	}

	&__img {
		display: block;
		max-width: 100%;
		margin: 0 auto 24px;
		padding: 0 40px;
	}

	&__full {
		font-size: 14px;
	}

	&__toggler {
		color: #0171BD;
		font-size: 14px;
	}

	@include breakpoint(medium) {

		padding: 50px 0 60px;

		&__body {
			padding-top: 60px;
		}

		&__container {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: flex-start;
			justify-content: center;
		}

		&__img {
			flex-basis: 250px;
			max-width: 370px;
			margin: 0;
			padding: 0 80px 0 50px;
		}

		&__excerpt {
			font-size: 21px;
			max-width: 440px;
		}

		&__full {
			font-size: 21px;
		}

		&__toggler {
			font-size: 18px;
		}
	}
}