@import '../site/base';
.students-edit {
	&__form {
		margin-bottom: 40px;
	}

	&__fieldset {
		padding: 25px 22px;
		margin-bottom: 25px;
		border-bottom: 1px solid #e6e6e6;
		border-top: 1px solid #e6e6e6;
		@include breakpoint(medium) {
			padding-top: 30px;
		}
	}

	&__fieldset-item {
		margin-bottom: 10px;
		input,
		select,
		&:last-child {
			margin-bottom: 0;
		}
		select {
			width: 130px;
		}
		label {
			span {
				color: #b3b3b3;
			}
		}

		@include breakpoint(medium) {
			display: table;
			width: 100%;
			margin-bottom: 15px;
			label {
				width: 33%;
				padding-right: 20px;
				display: table-cell;
				vertical-align: middle;
				text-align: right;
			}

			input {
			width: 350px;
			}

			input,
			select {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

	&__btn-wrap {
		padding: 0 22px;
		button[type='submit'],
		input[type='submit'] {
			width: 100%;
		}
		@include breakpoint(medium) {
			padding: 0;
			width: 350px;
    		margin-left: 34%;
		}
	}
}