@import '../site/base';

.awards {
	&__wrapper {
		max-width: 750px;
	}

	&__btn-list {
		@include btn-list(50%);
	}

	.btn-list {
		margin-bottom: -15px;
	}
}

.awards-generator {
	@include basic-fieldset($input-group-width: 100%, $label-width: 38%, $input-width: 50%);
	padding: 30px 0;
	background: #EEF1F6;

	&__header {
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 14px;
		margin-bottom: 14px;
	}

	&__title {
		position: relative;
		font-size: 1.290em;
		margin: 0;
	}

	&__input-group {
		position: relative;
	}

	&__note {
		@include note($right: 18px, $medium: 0);
	}
}

.awards-list {
	@include flex-grid-row($width: 722px);
	margin-top: 40px;
	counter-reset: awards-counter;

	&--drop {
		background: #EEF1F6;
		padding-top: 30px;
		.awards-list__item {
			margin-bottom: 20px;
		}
	}

	&__item, &__item-empty{
		margin: 0 0.75em;
		margin-bottom: 1.5em;
	    min-width: 156px;
	    min-height: 220px;
	}

	&__item-empty, .counter {
		counter-increment: awards-counter;
	}

	&__item-empty {
    	border: 2px dashed #b3b3b3;
    	position: relative;
    	height: 220px;
    	&::after,
    	&::before {
    		display: block;
    		position: absolute;
    		left: 50%;
    		transform: translate(-50%, -50%);
    		color: #B3B3B3;
    		text-align: center;
    	}

    	&::after {
    		content: counter(awards-counter);
    		top: calc(50% - 15px);
    		font-size: 30px;
    		font-weight: lighter;
    	}

    	&::before {
			content: "ДИПЛОМ";
			top: calc(50% + 17px);
    		font-size: 19px;
    	}

	    .dragover {
	    	background: #fff;
	    	// transition: 0.2s;
	    }
	}
}

.award {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	// transition: .2s;
	position: relative;
	&::after {
		content: "";
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0, .2);
	}

	&:hover {
		box-shadow: 0 0 0 4px map_get($foundation-palette, accent);
		&::after {
			opacity: 1;
		}
	}

	&:hover > &__interactive-panel {
		opacity: 1;
		transition-delay: .1s;
	}

	&__interactive-panel {
		transition: .2s;
		position: absolute;
		opacity: 0;
		z-index: 10;
		top: 50%;
		left: 50%;
		padding: 0;
		transform: translate(-50%, -50%);

		&-btn {
			display: block;
		    width: 40px;
		    height: 40px;
		    margin: 14px 0;
			padding: 0;
		    line-height: 40px;
			color: #fff;
			background: map_get($foundation-palette, accent);
		    border-radius: 50%;
		    font-size: 18px;
		    text-align: center;

		    &:hover {
		    	color: #fff;
		    	background-color: lighten(map_get($foundation-palette, accent), 10%);
		    }
		}
	}
}

.awards-table {
	@include site-table($font-size: (small: 12px, medium: 12px, large: 14px));

	&__head {
		vertical-align: middle;
		background: #FDDFA1;
	}

	&__row-class {
		border-bottom: 4px solid #FBB833;
	}

	&__row-discipline {
		background: #EDF1F4;
	}

	&__row {
		vertical-align: top;
		border-bottom: 1px solid #e6e6e6;

		td:not(:last-child) {
			border-right: 1px solid #e6e6e6;
		}
	}

	&__login {
		width: 10%;
		text-align: center;
	}

	&__league {
		width: 8%;
		text-align: center;
	}

	&__score {
		width: 10%;
		text-align: center;
	}

	&__award-degree {
		width: 20%;
	}

	&__award-number {
		width: 16%;
	}

	&__file {
		width: 5%;
		text-align: center;
	}
}