@import '../site/base';

.partner-card {
	display: block;
	width: 100%;
	padding: 16px 8px;
	text-align: center;
	box-shadow: 0 0 0 1px $light-gray;
	border-radius: 2px;
	line-height: 1;
	font-size: 12px;

	@include breakpoint(medium) {
		padding: 32px 16px;
		font-size: 16px;
	}

	&:hover,
	&:focus {
		box-shadow: 0 0 0 1px $light-gray, 2px 2px 0 0 $medium-gray;

		@include breakpoint(large) {
			box-shadow: 0 0 0 1px $light-gray, 3px 3px 0 0 $medium-gray;
		}
	}

	&--short {
		padding: 0;
		box-shadow: none;

		@include breakpoint(medium) {
			padding: 0;
		}

		[data-whatinput='mouse'] &,
		[data-whatinput='keyboard'] & {
			opacity: 0.9;

			&:hover,
			&:focus {
				box-shadow: none;
				opacity: 1;
			}
		}
	}

	&__logo {
		@include flex-grid-row();
		@include flex-align($x: center, $y: middle);

		height: 80px;
		margin-bottom: 16px;

		@include breakpoint(medium) {
			height: 150px;
		}

		.partner-card--short & {
			margin-bottom: 0;
			height: auto;
		}

		&__image {
			@include flex-grid-column(100%);

			img {
				width: auto;
				height: auto;
				max-height: 80px;

				@include breakpoint(medium) {
					max-height: 150px;
				}
			}
		}
	}

	&__name {
		word-wrap: break-word;

		.partner-card--short & {
			display: none;
		}
	}
}
